@using WebApplication1.Areas.Admin.Models;
@model CustomerIndexVM

<div class="row d-flex flex-row justify-content-between">
    <h1>Customer Page.</h1>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Go to Home page</a>
</div>
<br />
<div class="d-flex flex-row justify-content-between">
    @foreach (var customer in Model.Customers)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Name: @customer.Name</h5>
                <h5 class="card-title">Surname: @customer.Surname</h5>
                <h5 class="card-title">Email: @customer.Email</h5>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="card-body">
                    <a asp-controller="Customer" asp-action="Delete" asp-route-id="@customer.Id" class="btn btn-danger">Delete</a>
                    <a asp-controller="Customer" asp-action="Update" asp-route-id="@customer.Id" class="btn btn-warning">Update</a>
                </div>
            }
            else
            {
                <div class="card-body">
                    <a class="btn btn-danger disabled">Delete</a>
                    <a class="btn btn-warning disabled">Update</a>
                </div>
            }

        </div>
    }
</div>
<br />
@if (User.IsInRole("Admin") || User.IsInRole("OridnaryUser"))
{
    <a class="btn btn-primary" asp-controller="Customer" asp-action="Add">Go to Customer Add page</a>
}
